<div class="d-flex  justify-content-center">

<p style="color: green"><%= notice %></p>
<div class="my-4">

    <%= render "projects/shownproject", project: @project %>
    
<div class="my-4">
  <%= button_to "Delete", @project, method: :delete , class: "btn btn-danger" %>
</div>

<% if !@project.tasks.empty? %>
<h1>Tasks for <%= @project.name %></h1>


<table class="table">
  <thead class="thead-dark">
   <tr>
       <th scope="col">Name</th>
       <th scope="col">Description</th>
       <th scope="col">Status</th>
       <th scope="col">Show</th>
       <th scope="col">Delete</th>
   </tr>
  </thead>
  <tbody>

<% @project.tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'Show', [task.project, task] , class: "btn btn-success text-light" %></td>
    <td><%= button_to 'Destroy', [task.project, task], method: :delete , class: "btn btn-danger" %></td>
   
   
  </tr>
<% end %>
</tbody>
</table>

<br />
<%= link_to 'Create a new task', new_project_task_path(@project) , class: "btn btn-primary" %>
<br/>

<% else %>
<div>
    <%# <p>There are no tasks for this project</p>
    <%= link_to 'Create a new task', new_project_task_path(@project) , class: "btn btn-primary" %> 
</div>
<% end %>

</div>

